<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Boostrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<nav class="col-2 bg-primary" style="height: 100vh;">
    <div class="px-2 pt-5">
        <a href="http://localhost:2100/views/index">
            <img src="/SAElogo.png" alt="Logo" width="200">
        </a>
    </div>
    <ul class="nav flex-column text-start pt-5">
        <!-- Registros -->
        <li class="nav-item ps-3">
            <i class="bi bi-pencil-square text-white fs-4"></i>
            <span class="ms-1 text-white fw-bold">Registros</span>
        </li>
        <li class="nav-item"></li>
            <a href="#" class="nav-link active text-white ps-5">
                Registrar entrada
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="#" class="nav-link active text-white ps-5">
                Registrar salida
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="#" class="nav-link active text-white ps-5">
                Buscar registro
            </a>
        </li>
        <hr class="my-3" style="border: 3px solid white;">
        <!-- Usuarios -->
        <li class="nav-item ps-3">
            <i class="bi bi-people-fill text-white fs-4"></i>
            <span class="ms-1 text-white fw-bold">Usuarios</span>
        </li>
        <li class="nav-item"></li>
            <a href="http://localhost:2100/views/usuario-registrar" class="nav-link active text-white ps-5">
                Registrar usuario
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="http://localhost:2100/views/usuario-buscar" class="nav-link active text-white ps-5">
                Buscar usuario
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="src/public/views/usuario-modificar" class="nav-link active text-white ps-5">
                Modificar usuario
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="http://localhost:2100/views/usuario-desactivar" class="nav-link active text-white ps-5">
                Desactivar usuario
            </a>
        </li>
        <li class="nav-item"></li>
            <a href="src/public/views/usuario-recargar" class="nav-link active text-white ps-5">
                Recargar
            </a>
        </li>
        <hr class="my-3" style="border: 3px solid white;">
        <!-- Graficos -->
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <i class="bi bi-graph-up-arrow text-white fs-4"></i>
                <span class="ms-1 text-white fw-bold">Graficos</span>
            </a>
        </li>
        <hr class="my-3" style="border: 3px solid white;">
        <!-- Configuracion -->
        <li class="nav-item"></li>
            <a href="#" class="nav-link active ps-3">
                <i class="bi bi-gear-fill text-white fs-4"></i>
                <span class="ms-1 text-white fw-bold">Configuracion</span>
            </a>
        </li>
        <hr class="my-3" style="border: 3px solid white;">
        <!-- Marca -->
        <li class="nav-item"></li>
        <a href="#" class="nav-link active ps-3 text-center">
            <span class="ms-1 text-white fw-bold">Yam Dynamics</span>
        </a>
    </ul>
</nav>