<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAE</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <!-- Nav Bar -->
            <%- include("navBar") %>
            <!-- Buscar usuario -->
            <div class="col-10 main-container bg-light">
                <div class="row col-12 text-center py-5">
                    <h1>Buscar Usuario</h1>
                </div>
                <div class="row justify-content-center"> 
                    <div class="col-8">
                        <form id="buscarForm" action="http://127.0.0.1:2100/api/usuarios/buscar" method="GET">
                            <!-- Tarjeta -->
                            <div class="form-group">
                                <label>Tarjeta</label>
                                <input type="text" class="form-control my-2" placeholder="Escanee la tarjeta" name="tarjeta">
                            </div>
                            <!-- Telefono -->
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="text" class="form-control my-2" placeholder="Telefono celular" name="telefono">
                            </div>
                            <button type="submit" class="btn btn-primary my-2">Buscar</button>
                        </form>
                        <!-- Usuarios -->
                        <table class="table table-bordered mt-5" id="resultTable">
                            <thead>
                                <tr>
                                    <th scope="col">Tarjeta</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Placas</th>
                                    <th scope="col">Saldo</th>
                                    <th scope="col">Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const buscarForm = document.getElementById("buscarForm")
        const resultTable = document.getElementById("resultTable").getElementsByTagName("tbody")[0]
        const submitForm = async(event) => {
            event.preventDefault()
            const formData = new FormData(buscarForm)
            const queryParams = new URLSearchParams()
            formData.forEach((value, key) => {
                queryParams.append(key, value)
            })
            try {
                const url = `http://127.0.0.1:2100/api/usuarios/buscar?${queryParams.toString()}`
                const response = await fetch(url, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                if(!response.ok) {
                    throw new Error(`Error: ${response.status}`)
                }
                resultTable.innerHTML = ""
                const result = await response.json()
                result.forEach((user) => {
                    const row = resultTable.insertRow()
                    row.insertCell(0).textContent = user.tarjeta
                    row.insertCell(1).textContent = user.nombreUsuario
                    row.insertCell(2).textContent = user.telefono
                    row.insertCell(3).textContent = user.marca
                    row.insertCell(4).textContent = user.modelo
                    row.insertCell(5).textContent = user.placas
                    row.insertCell(6).textContent = user.saldo
                    row.insertCell(7).textContent = user.status
                })
                buscarForm.reset()
            } catch (error) {
                console.log("Error al buscar usuario: ", error.message)
            }
        }
        buscarForm.addEventListener("submit", submitForm)
    </script>
</body>
</html>